html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: monospace;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dedede;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    width: 100%;
    text-align: center;
    color: rgb(203, 119, 50);
}

button {
    justify-self: center;
    margin-top: 8px;
    background: rgb(253, 108, 156);
    padding: 16px;
    border: hidden;
}

button:hover {
    background: rgb(248, 177, 62);
}

button:focus {
    background: rgb(230, 181, 104);
}
